<nav class="nav navbar-default"  rolo="navigation">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li>
				<a class="active" href="./">
					<span class="glyphicon glyphicon-print"></span>Vote!
				</a>
			</li>
			<li>
				<a class="active" href="./">
					<span class="glyphicon glyphicon-alt"></span>Standings!
				</a>
			</li>
		</ul>		
	</div>
</nav>