<% include head %>

<body>

<header>
	<% include header %>
</header>

<p>Here is the BODY!!!</p>

<% var printVar = "Print Me"; %>

	<div id="here is a div">
		<%= printVar %>
	</div>

<%
	for (i=0; i<photos.length; i++){
%>
		<img src="<%= photos[i].name %>">
<%
	}
%>

<footer>
	<% include footer %>
</footer>
	
</body>
</html>
