<% include head %>

<body>

<header>
	<% include header %>
</header>

<p>Pick a Winner</p>

<% var random = Math.floor(Math.random()*photos.length) %>

	
	<img src="<%= photos[random].src %>">

<button class='btn btn-success'>Winner</button>
<button class='btn btn-danger'>Loser</button>

<footer>
	<% include footer %>
</footer>
	
</body>
</html>
